// nextflow.config
params {
    // Core pipeline parameters
    output_dir                = './results'
    cpus                      = 4
    skip_to_clustering        = false
    prev_nb_dir               = './previous_neighbour_output'

    // Search parameters
    search_types              = 'blastn'  // blastn, blastp, infernal, tblastn, from_gff
    bio_type                  = 'ncRNA'
    genomes_dir               = './genomes'
    query                     = './query.fasta'  // or CM file for infernal
    annotation_type           = 'gff'
    evalue_threshold_blast    = 1e-5
    evalue_threshold_infernal = 1e-3
    len_threshold_blast       = 50
    len_threshold_infernal    = 40
    blast_matrix              = 'BLOSUM80'

    // Database paths (update these to your actual paths)
    pfam_db                   = '/path/to/Pfam-A.hmm'
    rfam_db                   = '/path/to/Rfam.cm'

    // Neighbor extraction parameters
    gene_of_interest          = 'False'
    neighbours                = '5:5'
    promoter                  = 'no'
    promoter_len              = 100
    promoter_mode             = 'fixed'
    overlap_threshold         = 0.75
    including_features        = ['CDS', 'pseudogene', 'ncRNA', 'rRNA', 'RNase_P_RNA', 'tRNA']
    from_gff_feature          = 'ID'
    substring_search          = false
    ignore_overlaps           = false

    // Clustering parameters
    adjacent_gene_clustering  = 'hmmscan,cmscan'  // options: 'mmseqs,mmseqs' or 'hmmscan,mmseqs' for protein, 'mmseqs,cmscan' for ncRNA

    // Plotting parameters
    scale                     = 'yes'
    cluster                   = 2
    threshold                 = 0.9
    gene_name                 = 'db'
    gene_lable                = 'yes'
    cut_height_args           = 0
    microsynteny_logo         = 'no'
    metric                    = 'cosine'
    name_file                 = ''  // optional: path to name mapping file
    svg                       = 'no'
}

// Profiles for different environments // TODO
profiles {
    local {
        process.executor = 'local'
    }
    cluster {
        process.executor = 'slurm'
        process.queue = 'your-queue'
        process.memory = '8GB'
        process.cpus = 4
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

// Manifest
manifest {
    name = 'SweetSynteny'
    author = 'Maria Schreiber'
    description = 'Pipeline for genomic synteny analysis'
    version = '1.0'
}
