// nextflow.config
params {    
    // Default values for getNeighbours
    neighbours                = "5:5"
    promoter                  = "no"
    promoter_len              = 100
    evalue_threshold_blast    = 1e-5
    evalue_threshold_infernal = 1e-3
    len_threshold_blast       = 50
    len_threshold_infernal    = 40
    including_features        = ["CDS", "pseudogene", "ncRNA", "rRNA", "RNase_P_RNA", "tRNA"]
    from_gff_feature          = "ID"

    // Default values for color_clusters
    size_for_cluster = 2

    // Default values for plot_context
    cluster                     = 2
    threshold                   = 0.9
    gene_name                   = "db"
    gene_lable                  = "yes"
    cut_height_args             = 0
    microsynteny_logo           = "no"
}